.card{
    width: 25%;
    margin: auto;
    background-color: #ffc107;
    color: #212529;
    box-shadow: -2px -2px 1px #212529;
}
.formdiv{
    padding: 7% 10% 1% 10%;
}
.row{
    padding-bottom: 25px;
}