<div class="card">
    <form action="">
        <div class="formdiv">
            <div class="row">
                <div class="col-4">
                    <label  class="form-label">Username/Email</label>
                </div>
                <div class="col-8">
                    <input class="form-control" type="text" name="username/email" placeholder="Eg: Ramu / Ramu@gmail.com">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label  class="form-label">Password</label>
                </div>
                <div class="col-8">
                    <input class="form-control" type="password" name="password" placeholder="password">
                </div>
            </div>
        </div>
        <button class="btn btn-dark w-100">Login</button>
    </form>
</div>