.card{
    width: 75%;
    margin: auto;
    box-shadow: 1px 1px 10px #212529;
}
.image{
    box-shadow: 1px 1px 5px #212529;
}
.details{
    padding: 5%;
}
.card.col-6{
    width: 50%;
    height: 150px;
    text-align: center;
    justify-content: center;
    box-shadow: 1px 1px 10px #212529;
}
.card.col-6:nth-child(odd){
    background-color: #ffc107;
    color: #212529;
}
.card.col-6:nth-child(even){
    background-color: #212529;
    color: #ffc107;
}
.card.col-6:nth-child(4){
    background-color: #ffc107;
    color: #212529;
}
.card.col-6:nth-child(3){
    background-color: #212529;
    color: #ffc107;
}
span{
    font-size: medium;
}