<div class="card">
    <form action="" [formGroup]="signup" (ngSubmit)="signup.valid && onsignup()">
        <div class="formdiv">
            <div class="row">
                <div class="col-3">
                    <label  class="form-label">Username</label>
                </div>
                <div class="col-9">
                    <input class="form-control" type="text" name="username" placeholder="Eg: Ramu" formControlName="username">
                    <div class="alert" *ngIf="signup.controls['username'].invalid && (signup.controls['username'].dirty || signup.controls['username'].touched)">
                        <p *ngIf="signup.controls['username'].errors?.['required']">Username is Required.</p>
                        <p *ngIf="signup.controls['username'].errors?.['minlength']">Username must be at least 3 characters long..</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <label  class="form-label">Email</label>
                </div>
                <div class="col-9">
                    <input class="form-control" type="email" name="email" placeholder="Eg: Ramu@gmail.com" formControlName="email">
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <label  class="form-label">Password</label>
                </div>
                <div class="col-9">
                    <input class="form-control" type="password" name="password" placeholder="New password" formControlName="password">
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    <label  class="form-label">Confirm Password</label>
                </div>
                <div class="col-9">
                    <input class="form-control" type="password" name="retrypassword" placeholder="Retype password" formControlName="retrypassword">
                </div>
            </div>
            <div class="personal" formGroupName="personal">
                <div class="row">
                    <div class="col-3">
                        <label  class="form-label">Date of Birth</label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" type="date" name="dob" formControlName="dob">
                    </div>
                </div>
                
                
                <div class="row">
                    <div class="col-3">
                        <label  class="form-label">Gender</label>
                    </div>
                    <div class="col-9">
                        <input type="radio" name="gender" value="male" formControlName="gender"><label  class="form-label me-3 mx-1">Male</label>
                        <input type="radio" name="gender" value="female" formControlName="gender"><label  class="form-label me-3 mx-1">Female</label>
                    </div>
                </div>
                
        
                <div class="row">
                    <div class="col-3">
                        <label  class="form-label">Profile pic</label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" type="file" name="pic" formControlName="pic">
                    </div>
                </div>
        
                <div class="row">
                    <div class="col-3">
                        <label  class="form-label">Phone Number</label>
                    </div>
                    <div class="col-9">
                        <input class="form-control" type="tel" name="phoneno" placeholder="Eg: 9999999999" formControlName="phoneno">
                    </div>
                </div>
    
            </div>    
            <div class="row">
                <div class="col-3">
                    <label  class="form-label">LinkedIn</label>
                </div>
                <div class="col-9">
                    <input class="form-control" type="url" name="url" placeholder="Eg: https://linkiedIn/myprofile/........." formControlName="url">
                </div>
            </div>
    
            <div class="row">
                <div class="col-3">
                    <label  class="form-label">Stack</label>
                </div>
                <div class="col-9">
                    <input type="checkbox" name="stack" value="MEAN" (click)="addCheckBox($event.target)"><label  class="form-label me-3 mx-1">MEAN</label>
                    <input type="checkbox" name="stack" value="MERN" (click)="addCheckBox($event.target)"><label  class="form-label me-3 mx-1">MERN</label>
                    <input type="checkbox" name="stack" value="MEVN" (click)="addCheckBox($event.target)"><label  class="form-label me-3 mx-1">MEVN</label>
                </div>
            </div>   
    
            <div class="row">
                <div class="col-3">
                    <label  class="form-label">Experience</label>
                </div>
                <div class="col-9">
                <select name="experience" class="form-control" formControlName="experience">
                    <option hidden>Eg: Experience</option>
                    <option value="0-1">0-1</option>
                    <option value="1-3">1-3</option>
                    <option value="3-5">3-5</option>
                    <option value="5-8">5-8</option>
                    <option value="8-10">8-10</option>
                </select>
                </div>
            </div>
        </div>
        <button class="btn btn-warning w-100" type="submit" [disabled]="!signup.valid">Submit</button>
    </form>
</div>